.heading_img {

    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 200px;
}

.back {

    display: flex;
    flex-direction: row;
    align-items: center;
}