body {
    margin: auto;
    width: auto;


}

#body_color {
    overflow: hidden;
    animation-name: fade-in;
    animation-duration: 3500ms;
    background-color: #ffffff;
}

html {

    overflow-x: hidden;

}

.fonctionnement_boxsize {

    gap: 20px;
    width: 100%;

    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (min-width:768px) {

        max-width: 400px;
        margin-bottom: 20px;

    }

    @media screen and (min-width:1024px) {

        max-width: 400px;
    }
}

.tile {

    cursor: pointer;
    width: 88%;
    margin: auto;
    margin-left: 30px;
    border-radius: 18px;
    background-color: #f6f6f6;
    box-shadow: 8px 10px 10px -6px #dfdddd;



    & p {

        color: black;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 18px;

        @media screen and (min-width:1024px) {

            font-size: 20px;
            width: 234px;

        }
    }

    @media screen and (min-width:768px) {


        width: 100%;

    }

}

.tile:hover {

    background-color: #f5edff;

    & i {

        color: #9356dc;
    }
}

.inside_tile {

    display: flex;
    align-items: center;
    line-height: 4;
    width: 90%;

    & span {

        position: relative;
        left: 8px;
        top: -20px;
        color: white;
        font-size: 13px;
        font-family: "Roboto";

        @media screen and (min-width:1024px) {

            left: 10px;
            top: -20px;
            font-size: 18px;

        }
    }

    & i {

        padding-right: 15px;
        padding-left: 30px;
        font-size: 20px;

        @media screen and (min-width:768px) {

            padding-left: 30px;

        }

        @media screen and (min-width:1024px) {

            padding-left: 35px;
        }
    }
}

.restaurant_boxsize {

    width: 100%;
    margin: auto;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width:768px) {

        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        max-width: 1000px;

    }
}

.sizecard_restaurant {

    height: 245px;
    width: 92%;
    margin-top: 20px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    box-shadow: 1px 4px 10px 8px #e7e7e7;
    position: relative;
    text-decoration: none;

    @media screen and (min-width:768px) {

        width: 49%;
        height: 280px;

    }
}

.img_size {

    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.body_size {

    height: 73px;
    width: 92%;
    text-decoration: none;
    display: inline-block;


    @media screen and (min-width:768px) {

        height: 84px;

    }

    & i {

        font-size: 25px;
        margin-top: 23px;
    }
}

#coeurposition_desktop>.coeurlist .coeur {

    position: absolute;
    bottom: 30px;
}