.coche {

    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #99e2d0;
    height: 72px;
    width: 60px;
    position: relative;
    margin-inline-start: auto;
    bottom: 61px;
    /*bottom: 40px;*/
    display: flex;
    align-items: center;
    opacity: 0;

}