.coeur-list {



    .coeur {

        color: black;
        position: absolute;
        right: 25px;
        bottom: 30px;

        &--plein {

            background: linear-gradient(#FF79DA, #9356DC);
            -webkit-background-clip: text;
            background-size: 100%;
            color: transparent;
            opacity: 0;

        }

        @media screen and (min-width:768px) {

            position: absolute;

        }

        @media screen and (min-width:1024px) {

            position: absolute;

        }
    }

    &:hover {
        &>.coeur--vide {

            display: none;
        }

        &>.coeur--plein {

            //translate: 29px;
            opacity: 1;


        }
    }

}


/*ICONE FOOTER*/
.fa-cutlery:before,
.fa-utensils:before {
    content: "\f2e7";
    font-size: 11px;
    padding-left: 0px;
}

/*ICONE FOOTER*/
.fa-hands-helping:before,
.fa-handshake-angle:before {
    content: "\f4c4";
    font-size: 8px;
    padding-left: 0px;
}

/*ICONE COCHE*/

.fa-check:before {
    content: "\f00c";
    color: #99e2d0;
    font-size: 18px;
    line-height: 1.6;
}

.icone_position {

    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 90%;
    margin: auto;
    position: relative;
    font-size: 26px;
    margin-bottom: 60px;

    @media screen and (min-width:768px) {

        margin-bottom: 60px;
        justify-content: space-evenly;
        width: 50%;

    }

    @media screen and (min-width:1024px) {

        margin-top: 60px;
        justify-content: space-evenly;
        width: 50%;

    }
}


.icone_card_position {

    display: flex;
    align-items: center;
    justify-content: space-between;
}