h1 {

    font-family: "Shrikhand";
    text-align: center;
    margin-bottom: 10px;

    @media screen and (min-width:768px) {

        font-size: 60px;
    }

}

h2 {

    font-size: 23px;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-right: 246px;
    font-family: "Roboto";


    @media screen and (min-width:768px) {

        margin: auto;
        text-align: center;
        margin-top: 40px;
        font-size: 40px;
    }
}

h2.modif_title {

    font-family: "Shrikhand";
    font-size: 28px;
    font-weight: normal;
    margin: 50px 0 30px 0px;
    padding-left: 0px;
    padding-bottom: 0px;

    @media screen and (min-width:768px) {

        padding-bottom: 0px;
    }

    @media screen and (min-width:1024px) {

        padding-bottom: 25px;
        margin: 0;

    }

}

h3 {

    font-size: 17px;
    font-family: "Roboto";
    color: black;
    text-decoration: none;
    margin: 20px 0 5px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    & i {

        position: absolute;
        right: -8%;
        top: 25px;
        font-size: 22px;

        @media screen and (min-width:768px) {

            position: absolute;
            left: 190%;
            top: 25px;
            font-size: 22px;
        }

    }

    @media screen and (min-width:1024px) {

        font-size: 18px;
    }
}

h4 {

    font-family: "Shrikhand";
    color: white;
    font-size: 16px;
    font-weight: initial;
    padding: 16px 0 0 20px;
    margin: 0 0 0 0;

    @media screen and (min-width:768px) {

        text-align: center;
        font-size: 24px;

    }

}

p {

    color: #606060;
    font-family: "Roboto";
    margin: 0 0 0 10px;


}

p.modif {

    margin: auto;
    width: 250px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: "Roboto";
    font-size: 26px;
    color: black;
    font-weight: bold;

    @media screen and (min-width:1024px) {

        font-size: 30px;
        width: 300px;

    }
}

p.alternative {
    margin: auto;
    text-align: center;
    color: gray;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: initial;
    width: 100%;

    @media screen and (min-width:1024px) {

        font-size: 30px;

    }
}

p.retour {

    position: absolute;
    left: 15px;
    top: 30px;
    font-size: 20px;
}

.menu_boxsize p {

    border-bottom: 3px solid #99E2D0;
    width: 40px;
    padding-bottom: 4px;
}

.tile_menu p {

    margin-left: 10px;
    border-bottom: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;

}

ul {

    color: white;
    padding: 0 0 0 20px;
    font-family: 'Roboto';
    list-style-type: none;
    line-height: 1.7;
    font-size: 12px;
    margin-bottom: 0;

    @media screen and (min-width:768px) {

        text-align: center;
        font-size: 16px;

    }

}

ul a {

    color: white;
    text-decoration: none;
}

span {

    font-weight: bold;
    font-family: 'Roboto';
}