$breakpoints: (
    mobile: 599px,
    tablette: 768px,
    desktop:1024px,
);

@mixin tablette {

    @media screen and (min-width: map-get($breakpoints, tablette)) {

        width: 50%;
        height: 245px;
        flex-wrap: wrap;
    }

}

@mixin desktop {

    @media screen and (min-width: map-get($breakpoints, desktop)) {

        flex-wrap: wrap;
        gap: 20px;
        width: 80%;
    }
}